[submodule "nixpkgs"]
	path = nixpkgs
	url = git://github.com/jwiegley/nixpkgs.git
[submodule "darwin"]
	path = darwin
	url = git://github.com/jwiegley/nix-darwin.git
[submodule "home-manager"]
	path = home-manager
	url = git://github.com/jwiegley/home-manager.git
[submodule "forks/timeparsers"]
	path = forks/timeparsers
	url = git://github.com/jwiegley/timeparsers.git
[submodule "overlays/emacs-overlay"]
	path = overlays/emacs-overlay
	url = git://github.com/jwiegley/emacs-overlay.git
